<%= form_with(model: [schedule, comment]) do |f| %>

  <div class="form">
    <%= f.text_area :comment %>
  </div>

  <div class="btn">
    <%= f.submit class: "btn btn-secondary" %>
  </div>
<% end %>
