<div class="comment-index">
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <div class="contents d-inline-block text-center">
        <div class="info">
          <span><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
          <span>投稿者:<%= link_to comment.user.name, user_path(id: comment.user_id) %></span>
        </div>
        <p><%= comment.comment %></p>
      </div>
    <% end %>
  <% end %>
  <%= paginate comments, remote: true %>
</div>
