<div class="comment-index">
<% comments.reverse.each do |comment| %>
<% if comment.id.present? %>
<div class="comment-content">
  <div class="comment-info">
    <span><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
    <span>投稿者:<%= link_to comment.user.name, user_path(id: comment.user_id) %></span>
  </div>
    <p><%= comment.comment %></p>
  </div>
<% end %>
<% end %>
</div>
