<div class="users-show">
  <div class="container">
    <div class="row">
      <div class="info text-center col-sm-4">
        <%= render partial: 'shareds/user_info', locals: { user: @user } %>
      </div>

      <div class="contents p-0 col-sm-8">
        <div class="content">
          <h3 class="p-3 text-center font-weight-bold"><%= @schedule.title if @user.schedule_id.present? %></h3>
          <%= render partial: 'shareds/chart', locals: { schedule: @schedule } if @user.schedule_id.present? %>
        </div>
      </div>
    </div>
  </div>
</div>
