<div class="schedule-chart mt-4 row">
<div class="left text-right d-none d-lg-block col-sm-1">
  <p><%= @schedule.schedule_plans[0].start_time.since(18.hours).strftime("%H : %M") %></p>
</div>
  <div class="center text-center col-sm-10">
    <p><%= @schedule.schedule_plans[0].start_time.strftime("%H : %M") %></p>
    <canvas id="chart" width="100%" height="100%"></canvas>
    <p><%= @schedule.schedule_plans[0].start_time.since(12.hours).strftime("%H : %M") %></p>
  </div>
<div class="right text-left d-none d-lg-block col-sm-1">
  <p><%= @schedule.schedule_plans[0].start_time.since(6.hours).strftime("%H : %M") %></p>
</div>

</div>
