tr.nested-fields
  td = f.text_field :plan, maxlength: 10, size: 15
  td ：
  td = f.text_field :start_time, id: 'start_time', class: 'time start', maxlength: 5, size: 7
  td 〜
  td = f.text_field :end_time, id: 'end_time', class: 'time end', maxlength: 5, size: 7
  td = link_to_remove_association '削除', f, class: 'btn btn-sm btn-danger'
