<tr class="nested-fields">
  <td><%= f.text_field :plan %></td>
  <td><%= f.time_field :start_time, step: 600 %></td>
  <td><%= f.time_field :end_time, step: 600 %></td>
  <td><%= link_to_remove_association "削除", f %></td>
</tr>
