.top
  .container
    .row
      .first-left.p-5.col-md-6.col-sm-12
        h1 Comitrace
        p このアプリはあなたの目標達成の手助けをします。
        p 目標はあるけど、どう行動すればいいのかわからない、
        p 今の努力が正しいのかわからないなんて事ありませんか？
      .first-right.p-5.col-md-6.col-sm-12
        = image_tag asset_path('top1.png')
        = image_tag asset_path('top2.png')

    .row
      .second-left.p-5.col-md-6.col-sm-12
        = image_tag asset_path('top3.png')
        = image_tag asset_path('top4.png')
      .second-right.p-5.col-md-6.col-sm-12
        p ここには有名大学に合格した人や、スポーツの大会に優勝した人などの
        p 一日のスケジュールが公開されています。
        p そのスケジュールを自分のものにして、目標達成への地図にしていきましょう！

  .third.p-5.text-center
    = link_to 'いますぐ無料で始める', new_user_registration_path, class: 'btn btn-danger'
