<div class="users-show">
  <div class="container">
    <div class="row">
      <div class="info text-center col-sm-4">
        <%= render partial: 'shareds/user_info', locals: { user: @user } %>
      </div>

      <div class="users-create-stocks col-sm-8">
        <div class="title text-center p-3">
          <h3>作成スケジュール</h3>
        </div>
        <div id="create_stocks">
          <%= render partial: 'shareds/schedule_cards', locals: { schedules: @schedules } %>
        </div>
      </div>
    </div>
  </div>
</div>
