<div class="users-show">
  <div class="container">
    <div class="row">
      <div class="info text-center col-sm-4">
        <%= render partial: 'shareds/user_info', locals: { user: @user } %>
      </div>

      <div class="users-followers text-center col-sm-8">
        <div class="title p-3">
          <h3>フォロワー</h3>
        </div>
        <div id="followers">
          <%= render partial: 'shareds/follow_users', locals: { users: @users } %>
        </div>
      </div>
    </div>
  </div>
</div>
