<div id="follow_link" class="users-follow-link d-flex justify-content-center">

  <a href="<%= user_followings_path(user) %>" class="m-2">
    <p><%= user.following.count %></p>
    フォロー
  </a>

  <a href="<%= user_followers_path(user) %>" class="m-2">
    <p><%= user.followers.count %></p>
    フォロワー
  </a>

</div>
