body {
  padding-top: 4.5rem;
}

.navbar h2 {
  font-weight: bold;
}

.navbar-nav a {
  position: relative;
  display: inline-block;
  transition: .3s;
  font-weight: bold;
  color: #6c757d;
}
.navbar-nav a::before,
.navbar-nav a::after {
  position: absolute;
  left: 50%;
  content: '';
  width: 0;
  height: 1px;
  background-color: #007bff;
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.navbar-nav a::before {
  top: 0;
}
.navbar-nav a::after {
  bottom: 0;
}
.navbar-nav a:hover::before,
.navbar-nav a:hover::after {
  width: 100%;
}

.navbar a:hover {
  text-decoration: none;
  color: #007bff;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.footer {
  width: auto;
}

.footer .container {
  width: auto;
}

#toast-container {
  padding-top: 55px;
}
