// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// top
.top h1 {
  color:  #007bff;
  font-weight: bold;
}
.top img {
  height: 100%;
  width: 40%;
}
// index
.schedule-index-card .card-header {
  padding: 0px, 10px;
  height: 50px;
  position: relative;
}
.schedule-index-card .card-header a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.schedule-index-card .card-header a:hover {
  text-decoration: none;
}

.schedule-index-card .card-body {
  height: 200px;
}

.schedule-index-card .card-body p {
  font-size: 1.2rem;
  letter-spacing: 3px;
}

.schedule-index-card .card-footer {
    height: 45px;
}

.schedule-index-card .card-footer p {
  margin-bottom: 0;
}

.schedule-index-card .card-footer img {
  width: 20px;
  height: 20px;
}



.schedule-index-pagenation {
  margin: 20px;
}

// show
.show-comments {
  padding: 50px;
}

// _form
.schedule-form .container {
  margin-bottom: 50px;
}

.schedule-form .title-form {
  background-color: #007bff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80%;
  margin: 20px 0px;
}

.schedule-form .title-form p {
  margin : 0 auto;
  color : #fff;
}

.schedule-form .title-form input {
  margin: 0 auto;
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.schedule-form .content-form {
  background-color: #007bff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80%;
  height: 299px;
  margin: 40px auto;
}

.schedule-form .content-form p {
  margin : 0 auto;
  color : #fff;
}

.schedule-form .content-form textarea {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.schedule-form .schedule-plan-area p {
  font-size: 0.8rem;
  color: red;
  margin: 0;
}

.schedule-form .confirm-btn {
  margin: 30px;
}

// _schedule_plan_fields
.schedule-form .nested-fields td {
  padding: 5px 10px;
}
.schedule-form .nested-fields input {
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
}

// _schedule_content
.schedules-schedule-content .plan {
  min-height: 350px;
}

.schedules-schedule-content .plan th {
  padding: 10px;
}

.schedules-schedule-content .plan td {
  padding: 5px 10px;
  border-bottom: solid 2px #b0c4de;
}

.schedules-schedule-content .content {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #007bff;
  border-radius: 10px;
}

.schedules-schedule-content .content p {
  word-wrap: break-word;
  letter-spacing: 0.1rem;
}

// _chart
.schedule-chart {

}
.chartjs-render-monitor {
  height: 450px !important;
  width: 450px !important;
  display: inline-block !important;
}

.schedule-chart .top {
  margin-left: 255px;
}

.schedule-chart .left {
}

.schedule-chart .right {

}

.schedule-chart .bottom {
  margin-left: 255px;
}
