// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.schedule-index-card {
  padding: 0;

}

.schedule-index-card .card {
  margin: 10px;
}

.schedule-index-card .card-header {
  padding: 0px, 10px;
  height: 50px;
}
.schedule-index-card .card-header a {
  font-size: 1.2rem;
  font-weight: bold;
}

.schedule-index-card .card-body {
  height: 200px;
}

.schedule-index-card .card-footer {
    height: 45px;
}

.schedule-index-card .card-footer p {
  margin-bottom: 0;
}
.schedule-index-card .card-footer img {
  width: 20px;
  height: 20px;
}

// show
.schedules-show-user img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.chartjs-render-monitor {
  height: 400px !important;
  width: 400px !important;
  margin: 0px !important;
}


.schedules-show-chart {
  height: 200vh;
  width: 200vh;
}
