// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.schedule-box {
  float: left;
}

.box-user-info {
  float: left;
  text-align: center;
  padding: 20px;
}

.schedule-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.box-schedule-info {
  float: left;
  padding: 0px;
}

.box-schedule-info h4 {
  font-weight: bold;
}

.box-schedule-info p {
  font-size: 1.5rem;
}

// show
.schedules-show-user img {
  height: 50px;
  width: 50px;
}
.schedules-show-chart {
  height: 200vh;
  width: 200vh;
}
