// schedule_error_messages
.schedule-error-messages p {
  font-size: 0.8rem;
  color: #ff4500;
}

//user_error_messages
.user-error-messages p {
  font-size: 0.8rem;
  color: #ff4500;
}

// font-awesome-rails
.color-red:before {
  color: #ff4500;
}

.color-white:before {
  color: white;
}

.color-gray:before {
  color: #6c757d;
}

.color-blue:before {
  color: #007bff;
}
